<div class="container">
  <div class="form-align">
    <div class="form-group">
      <h4>Sign Up</h4>
    </div>
    
    <%= form_with model: @user, local: true do |f| %>

      <div class="form-group">
        <% if @user.errors.any? %>
          <p>
            <%= @user.errors.full_messages.join(", ") %>
          </p>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :name %> <br>
        <%= f.text_field :name, size: "85", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %> <br>
        <%= f.email_field :email, size: "85", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %> <br>
        <%= f.password_field :password, size: "85", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %> <br>
        <%= f.password_field :password_confirmation, size: "85", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign Up", class: "btn btn-outline-info" %>
      </div>

    <% end %>
  </div>
</div>